<div class="contacts-body">
    <span class="name-page">Contact us</span>
    <form #contactform="ngForm" (ngSubmit)="clrValues(contactform)" class="contact-form">
        <input #name="ngModel" name="name" ngModel placeholder="Name" class="name" required />
        <input #mail="ngModel" name="email" ngModel placeholder="Email" class="email" type="email" required />
        <textarea #text="ngModel" rows="4" cols="50" name="subject" ngModel placeholder="Please enter your message" class="message" required></textarea>
        <div type="submit" class="btn" (click)="clrValues(contactform)">Send</div>
    </form>
</div>