<div class="form">
  <form #f="ngForm" (ngSubmit)="login(f)">
    <h4>Login Page</h4>
    <div class="email">
      <input #emailInput="ngModel" type="text" name="email" ngModel placeholder="E-MAIL" [pattern]="regexPatt" required/>
      <p *ngIf="emailInput?.errors?.pattern" class="error">Wrong email format !</p>
    </div>
    <div class="password">
    <div class="arrow-downF"></div>
      <input #passInput="ngModel" type="password" name="password" ngModel placeholder="PASSWORD" minlength="6" required/>
      <p *ngIf="passInput?.errors?.minlength" class="error passError">Password should be at least 6 characters long !</p>
    </div>
    <div class="login">
    <div class="arrow-downS"></div>
      <button type="submit" [disabled]="f.invalid">Log In</button>
    </div>
    <div class="pathToRegister">
      <p>No account?</p>
      <a routerLink="/register">Create one!</a>
    </div>
  </form>
  </div>
