<div class="dest-div" >
    <div class="box" *ngFor="let item of data">
        <div class="middlebox">
            <div class="box-img" [ngStyle]="{'backgroundImage': 'url(' + this.item.imageURL + ')'}"></div>
            <div class="box-txt"><p>{{item.description}}</p></div>
            <div class="box-data">
                <div class="like" (click)="addLike(item.id)">
                    <i class="far fa-heart"></i>
                </div>
                <div class="travel" (click)="fireServiceService.setFireId(item.id)" routerLink="/details/{{item.id}}">Visit {{this.item.name}}</div>
                <div class="comment" (click)="toggleCommentOpen(item.id)"><i class="far fa-comment"></i></div>
            </div>
        </div>
    </div>
</div>
<div class="comment-form" [ngClass]="!commToggle ? 'hide' : 'show'">
    <form #comForm="ngForm" (ngSubmit)="sendComment(comForm)" class="form-comm">
        <input #nameInput="ngModel" type="text" name="name" ngModel placeholder="Your Name" required/>
        <textarea #commentInput="ngModel" rows="4" cols="26" ngModel name="commentText" required></textarea>
        <button type="submit" class="lv-comm">Leave your comment</button>
    </form>
    <div class="close-btn" (click)="toggleCommentClose()">X</div>
</div>
<!-- <i class="far fa-check-circle fa-8x"></i> -->
<i class="fab fa-gratipay fa-8x"></i>