<div class="boxDetails">
    <div class="commonBox">
        <div class="divimg" [ngStyle]="{'backgroundImage': 'url(' + dataById.imageURL + ')'}"></div>
        <div class="description">{{ dataById.description }} <h6>{{ dataById.likes }} people liked {{ dataById.name }}</h6></div>
    </div>
    <div class="name">{{ dataById.name | uppercase}}</div>
    <div class="price">{{ dataById.price }} $</div>
</div> 
<div class="galery" >
    <div *ngFor="let ar of arr" class="galImg">
        <img [src]="ar" alt="image">
    </div>
</div>

<div *ngIf="comments" class="comment-section">
    <p class="comm-lable">Comments</p>
    <ul>
        <li *ngFor="let comm of comments">
            <div class="owner">{{comm | splitPipe }}</div>
            <p class="comm-text">{{ comm | commentPipe }}</p>
        </li>
    </ul>
</div>