.main-div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
img{
    width: 400px;
    height: 320px;
}
.info{
    color: whitesmoke;
    margin-left: -120px;
    font-family: 'Dosis', sans-serif;
}