<div class="register-form">
    <h4>Register Page</h4>
    <div class="first-name">
      <input type="text" placeholder="First Name"/>
    </div>
    <div class="last-name">
    <div class="arrow-down one"></div>
      <input type="text" placeholder="Last Name"/>
    </div>
    <div class="email">
        <div class="arrow-down two"></div>
        <input type="text" placeholder="Email Address"/>
      </div>
      <div class="password-reg">
      <div class="arrow-down three"></div>
        <input type="text" placeholder="Password"/>
      </div>
      <div class="rePassword-reg">
        <div class="arrow-down four"></div>
          <input type="text" placeholder="Repeat Password"/>
        </div>
    <div class="reg">
    <div class="arrow-down five"></div>
      <span>Sign Up</span>
    </div>
    <div class="pathToLogin">
      <p>Already have an account?</p>
      <a routerLink="/login">Click here!</a>
    </div>
  </div>
