<div class="register-form">
    <h4>Register Page</h4>
    <form #f="ngForm" (ngSubmit)="register(f)">
    <div class="first-name">
      <input type="text" name="firstName" ngModel placeholder="First Name"/>
    </div>
    <div class="last-name">
    <div class="arrow-down one"></div>
      <input type="text" name="lastName" ngModel placeholder="Last Name"/>
    </div>
    <div class="email">
        <div class="arrow-down two"></div>
        <input #emailInput="ngModel" type="text" name="email" ngModel placeholder="Email Address *" [pattern]="emailRegExp" required/>
        <p *ngIf="emailInput?.errors?.pattern" class="error">Wrong email format !</p>
      </div>
      <div class="password-reg">
      <div class="arrow-down three"></div>
        <input #passInput="ngModel" type="password" name="password" ngModel placeholder="Password *" minlength="6" required/>
      </div>
      <p *ngIf="passInput?.errors?.minlength" class="error passError">Password should be at least 6 characters long !</p>
      <div class="rePassword-reg">
        <div class="arrow-down four"></div>
          <input type="password" name="rePassword" ngModel placeholder="Repeat Password"/>
        </div>
    <div class="reg">
    <div class="arrow-down five"></div>
      <button type="submit" [disabled]="f.invalid">Sign Up</button>
    </div>
  </form>
    <div class="pathToLogin">
      <p>Already have an account?</p>
      <a routerLink="/login">Click here!</a>
    </div>
  </div>
