.register-form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 80px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.first-name, .last-name, .email, .password-reg, .rePassword-reg, .reg{
    width: 300px;
    height: 70px;
    display: flex;
    justify-content: center;
}
.error{
    position: absolute;
    margin-top: 320px;
    margin-left: -20px;
    color: rgb(255, 72, 16);
    letter-spacing: 0.5px;
}
.passError{
    margin-top: 210px;
    margin-left: 15px;
}
.reg{
    background: rgb(84, 179, 223);;
}
.first-name{
    background: greenyellow;
}
.last-name{
    background: #ffd633;
}
.email{
    background: rgb(84, 179, 223);
}
.rePassword-reg{
    background: #3b3a30;
}
.password-reg{
    background: #3D9970;
}
input{
    height: 40%;
    width: 70%;
    margin-top: 16px;
    padding: 8px;
    outline: none;
    text-align: center;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
    font-family: 'Sintony', sans-serif;
    font-weight: bold;
}
input:focus{
    text-align: left;
    color: #2E6178;
    background: whitesmoke;
}
input::placeholder{
    color: white;
}
input:focus::placeholder{
    color:transparent;
}
button{
    width: 100%;
    height: 100%;
    font-size: 28px;
    background: #2E6178;
    color: white;
    font-family: 'Odibee Sans', cursive;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover{
    background: whitesmoke;
    color: #2E6178;
    cursor: pointer;
}
.arrow-down{
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.one{
    border-top: 8px solid greenyellow;
    position: absolute;
    top: 70px;
    left: 48%;
  }
.two{
    border-top: 8px solid #ffd633;
    position: absolute;
    top: 140px;
    left: 48%;
}
.three{
    border-top: 8px solid rgb(84, 179, 223);
    position: absolute;
    top: 210px;
    left: 48%;
}
.four{
    border-top: 8px solid #3D9970;
    position: absolute;
    top: 280px;
    left: 48%;
}
.five{
    border-top: 8px solid #3b3a30;
    position: absolute;
    top: 350px;
    left: 48%;
}
.pathToLogin{
    margin-top: 10px;
    font-family: 'Odibee Sans', cursive;
    display: flex;
  }
  p{
    font-size: 18px;
    margin-top: 0px;
    margin-left: 50px;
    color: gray;
    font-family: 'Odibee Sans', cursive;
  }
  a{
    color: black;
    margin-left: 6px;
  }
  a:hover{
      color: #2E6178;
  }
  h4{
    position: absolute;
    margin-top: -40px;
    margin-left: 90px;  
    font-family: 'Odibee Sans', cursive;
    font-size: 28px; 
    color: #2E6178; 
  }